
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
       <% questions.order('question_type').all.each do |question| %>
        <div class="span6">
            <%= question.name %>
        </div>
        <div class="span6">
           <% question.answers.each do |answer| %>
            <label class="radio">
              <% if defined? user %>
                  <%= radio_button("answer","question_#{question.id}_#{user.user_name}",answer.id, required: true) %>
              <% else %>
                  <%= radio_button("answer","question_#{question.id}",answer.id, required: true) %>   
              <% end %>
              <%= answer.name %>
            </label>        
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
