  <td><%= question.name %></td>
  <td>
    <% question.answers.each do |answer| %>
      <label class="radio">
        <input type="radio" name="question_<%= question.id %>">
        <%= answer.name %>
      </label>        
    <% end %>
  </td>

  </td>

