<table class="table table-stripped">
  <thead>
    <th></th>
  </thead>
  <tbody>
    <% questions.order('question_type').all.each do |question| %>
      <tr>
        <td><%= question.name %></td>
        <td>
          <% question.answers.each do |answer| %>
            <label class="radio">
              <%= radio_button("answer","question_#{question.id}",answer.id, required: true) %>
              <%= answer.name %>
            </label>        
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
