<footer>
  <div class="container">
    &copy; <%= link_to "CeSPI", "http://www.cespi.unlp.edu.ar", target: :blank %> - Universidad Nacional de La Plata 2010. Todos los derechos reservados conforme a la ley 11.723 UNLP
    Presidencia: Avda. 7 N° 776 | 1900, La Plata Buenos Aires Argentina
  </div>
</footer>